<div class="container-fluid">
    <div class="row">
        <!-- Left -->
        <div class="col-md-2 left-dash">
            <div class="dash-left-1">
                <h1 class="dash-brand">Budget</h1>
                <nav>
                    <ul class="nav-list">
                        <li class="w-100 nav-list-item">Dashboard</li>
                    </ul>
                </nav>
            </div>
            <div class="dash-left-2">
                <div class="profile">
                    <img src="/assets/profile.png" class="profile-img" alt="">
                    <div class="profile-details">
                        <h3>Catherine</h3>
                        <h4>+91 9876543210</h4>
                    </div>
                </div>
                <div class="log-btn">
                    <a href="">Log Out</a>
                </div>
            </div>
        </div>
        <!-- right -->
        <div class="col-md-10 right-dash">
            <div class="right-dash-head">
                <h2>Dashboard</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="dash-notification">
                <img src="/assets/info.jpg" alt="">
                <p>You Have <strong>32 Support Request Pending for Response</strong></p>
                <a href="">View</a>
            </div>
            <app-dashcard></app-dashcard>
            <app-dashtable></app-dashtable>
            <div class="table-btn-div">
                <button class="table-btn">View All</button>
            </div>
        </div>
    </div>
</div>