<div class="container-fluid g-0">
    <div class="row">
        <!-- Left -->
        <div class="col-md-6 left">
            <h1 class="brand">Budget</h1>
        </div>
        <!-- right -->
        <div class="col-md-6 right">
            <div class="right-box">
                <div class="right-header">
                    <div class="right-header-anchor">
                        <p>Having Trouble?</p>
                        <a href="">Get Help</a>
                    </div>
                    <select name="language" class="language" id="">
                        <option value="eng">Eng</option>
                    </select>
                </div>
                <div class="login-header">
                    <h2>Login to Budget</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                </div>
                <form action="">
                    <div class="form-floating">
                        <input type="email" class="form-control email-input" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">Email address</label>
                    </div>
                    <div class="form-floating">
                        <input type="password" class="form-control password-input" id="floatingPassword" placeholder="Password">
                        <label for="floatingPassword">Password</label>
                    </div>
                    <div class="form-footer">
                        <div class="keep-logged-div">
                            <input type="checkbox" name="logged-in" id=""> <label for="logged-in">Keep me logged in</label>
                        </div>
                        <a href="">Forget password</a>
                    </div>
                    <button class="btn btn-primary w-100 login-btn" routerLink="/dashboard">Login</button>
                    <div class="register-div d-flex">
                        <a href="" class="register">Create New Account</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
